
.icon-sun-filled:before { content: '\ec57'; } /* '' */
.icon-moon-3:before { content: '\ed80'; } /* '' */
.icon-leaf-3:before { content: '\edda'; } /* '' */
.icon-eye-7:before { content: '\ee5d'; } /* '' */
.icon-eye-off-1:before { content: '\ee5e'; } /* '' */
.icon-spin6:before { content: '\ee7c'; } /* '' */
.icon-won:before { content: '\f159'; } /* '' */
.icon-bitcoin-1:before { content: '\f15a'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-viacoin:before { content: '\f237'; } /* '' */
.icon-hourglass-5:before { content: '\f254'; } /* '' */
